.contactWrap {
    
    .Wrapper {
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding-top: 110px !important;

        @media (max-width:767.9px) {
            display: block;
        }
    }

    .AddressWrap {
        margin          : 120px 0px 0px 0px;
        padding         : 98px 170px 98px 130px;
        background-color: #fafafa;
        display         : flex;
        flex-wrap       : wrap;
        justify-content : space-between;
        align-items     : center;

        @media (max-width:991.9px) {
            padding: 98px 140px 66px 140px;
        }
        @media (max-width:767.9px) {
            padding: 98px 90px 66px 90px;
        }
        @media (max-width:576.9px) {
            padding: 98px 20px;
        }
    }
}